# Default ignored files
.vscode
certification/*.pem
certification/*.srl
*.pyc
*.log
configuration.yaml
apiQueryTest.py
services/webFrontend/node_modules/*
protoFiles/javaScript/propellerMonitorService/v1/node_modules/*